/* Estilos globais do site 
Precisei linkar lá no index.html para obedecer as alterações desta tela*/


html {
    height: 100%;
}
body{
    /*background serve paara a cor de fundo*/
    background-color:  #1c0c3f;
    font-family: sans-serif;  /*font letras*/
    color: white;
    margin: 15px;      /*paragrafos das frases da pagina professores*/
}

.title {
    padding: 0 20px;
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
}
h1.title /*todo h1 qe tenha a tag title*/ {
    margin: 40px auto 20px;
}

.text-justify{
    text-align:justify;
     text-align: center;
}
.text-center {
    text-align: center;
    
}
#video {
    width: 100%;
    text-align: center;
    max-height: 92%;
    display: inline-block;
    border-radius: 3px;

 
    
}
@media screen and (min-width: 992px) {
    .width-50pct-desktop {
    
        width: 50% !important; /*o important a para sobressaltar a importancia do que foi aplicado
        como no exemplo a baixo que foi priorizado a largura para dasktop 50% */
    }
}
