
   
    #content-container{
        padding: 20px;   /*deu um espço a esquerda na imagem pois o padin é como um paragrafo*/
    }

    #content-container h2.title {
        font-size: 1.5em; /*esta mexendo no estilo do h2*/
        }
   #content-container > div img{
        width: 98%; /*tamanho da imagem*/
        border-radius: 20px;  /* fez com que a imagem dos professores ficasse arredondada*/
        border: 5px double;
    }
    
        /*o sinal de > permite voce selecionar o filho maior da classe, porque no caso dessa classe .container, ela tem duas divs, então
        esse sinal > seleconando apenas a primeira div
        /*definindo o tamanho da imagem em pixels*/
  
    
    /*.cover-container, .section-video {
    display:inline-block; 
    width: 100%;
    } cdefinindo o tamanho do video para ficar ao lado da imagem*/

    @media screen and (min-width:992px){
        #content-container > div img {
            width: 50%; 
            /*serve para ajustar a tamanho de tela especifico*/
        }
        #content-container article {
            margin:0 auto 10px;
            text-align: center;
           
        }
      .container h2 p {
        margin:2px auto 10px;
      }
      .section-video {
        padding: 40px;
      }
    }
   
